*{
    padding: 0;    
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Evita barras de desplazamiento */
  }

/*Estilos de header*/

header{
    background-color: #B42F29;
}

.indice-container{
    padding: 30px 0;
    border-bottom: 1px solid #b7b7b7;
  }

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.logo-cont{
    width: 200px;
    height: 55px;
    
}

.form-container{
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: start;
}

.form-container input{
    width: 80%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    background-color: #B42F29;
    
}

.form-container input::placeholder{
    color:#cfcece;
    font-size: 14px;
    padding-left: 10px;
    
}

.svg-container{
    display: flex;
    justify-content: end;
    align-items: center;    
    gap: 10px;
    padding-left: 0;
    padding-right: 30px;
}

.svg-container button {
    background: none;
    border: none;
    cursor: pointer;
}
  
  /* Estilo de los iconos SVG */
.svg-container svg {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    fill: #ffffff; /* Color del icono */
}
  
@media (max-width: 768px) {

    .logo-container{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .form-container{
        display: none;
    }

    .svg-container{
        display: none;
    }
}

  /* Estilo del nav */
nav {
    width: 100%;
    padding: 20px 0;
}

.nav-container{
    padding: 0;
}
  /* Estilo del nav en ul */

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}
  
  /* Estilo de los links del nav */
nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
  
nav a:hover {
    color: #000;
}

/*Estilos del main*/

/*Estilos del carrusel de fotos y videos*/

.carrusel-de-fotos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.carrusel-de-fotos img{
    width: 100%;
    height: 800px;

}

/*Estilos del sector presentacion de la empresa*/

.presentacion-container{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.presentacion-container h1{
    font-size: 48px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B42F29;
}

.texto-presentacion{
    text-align: center;
    padding: 0;
}

.texto-presentacion p{
    display: block;
    padding: 0 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.posibilidades-container{
    display: flex;
    align-items: center;
    height: 128px;
    max-width: 1600px;
    padding: 30px 40px;
}

.posibilidades-container div{
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.posibilidades-container div div{
    width: 100%;
    display: flex;
    height: 120px;
    margin: 0;
    padding-left: 10px;
    padding-right: 0;
    flex-direction: column;
    justify-content: center;
}

.posibilidades-container svg{
    width: 30%;
    height: 120px;
}

.posibilidades-container div h4{
    font-size: 18px;
    margin: 0;
    color: #B42F29;
}

.posibilidades-container div p{
    margin: 0;
    font-size: 16px;
}

/*Estilos del sector arrivos*/

.arrivos-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.arrivos-container h2{
    display: flex;
    margin: 20px 0;
    padding-bottom: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #B42F29;
}

.img-arrivos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-arrivos div{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
}

.img-arrivos img{
    width: 210px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.img-arrivos p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

/*Estilos del sector novedades*/

.novedades-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.novedades-container div{
    width: 100%;
}

.novedades-info h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B42F29;
    text-align: center;
    margin: 20px 0;
}

.novedades-info p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-nov-container{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 576px) and (max-width: 992px) {
    
    .posibilidades-container div div{
        width: 100%;
        display: flex;
        height: 64px;
        margin: 0;
        padding-left: 10px;
        padding-right: 0;
        flex-direction: column;
        justify-content: center;
    }

    .posibilidades-container svg{
        width: 30%;
        height: 64px;
    }
    
    .posibilidades-container div h4{
        font-size: 16px;
        margin: 0;
    }
    
    .posibilidades-container div p{
        margin: 0;
        font-size: 12px;
    }

    .img-arrivos div{
        max-width: 340px;
    }
    
   
}

@media (max-width: 768px){
    .presentacion-container h1{
        font-size: 32px;
        text-align: center;
    }

    .posibilidades-container{
        display: flex;
        align-items: center;
    }

    .posibilidades-container div{
        display: flex;
        align-content: center;
        padding: 0;
    }
}

@media (max-width:576px){

    .presentacion-container{
        margin-bottom: 200px;
    }

    .posibilidades-container{
        display: flex;
        justify-content: center;
    }

    .posibilidades-container div{
        max-width: 300px;
        padding: 5px 0;
    }

    .posibilidades-container div div{
        width: 100%;
        display: flex;
        height: 48px;
        margin: 0;
        padding-left: 10px;
        padding-right: 0;
        flex-direction: column;
        justify-content: center;
    }

    .posibilidades-container svg{
        width: 30%;
        height: 64px;
    }
    
    .posibilidades-container div h4{
        font-size: 16px;
        margin: 0;
    }
    
    .posibilidades-container div p{
        margin: 0;
        font-size: 12px;
        max-width: 200px;
    }
}

.form-nov-container input{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    
}

/*Estilos de productos de la parte main*/

.main-productos{
    display: flex;
    padding: 0 50px;
    justify-content: center;
}

.imagenes-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 1200px;
}

.imagenes-productos div{
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.imagenes-productos div div div{
    padding: 20px ;
}

.imagenes-productos img{
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.imagenes-productos div p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0;
}


.nav-productos{
    display: flex;
    padding: 60px 0px 60px 90px; 
    flex-direction: column;
    gap: 15px;
}

.nav-productos h2{
    color: #B42F29;
    margin: 0;
    font-size: 24px;
}

.nav-productos h3{
    color: #B42F29;
    margin: 0;
    font-size: 20px;
}

.nav-productos ul{
    display: flex;
    flex-direction: column;
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    gap:15px;
    
}

.nav-productos ul li{
    width: 100%;
    font-size: 16px;
}

.nav-productos form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.nav-productos div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-productos form label{
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 10%;
}

.nav-productos form label input{
    display: flex;
    width: 10%;
    width: 18px;
    height: 18px;
    
}

@media (max-width: 992px) {
    .nav-productos{
        display: none;
    }
    
    .imagenes-productos{
        width: 100%;
    }
}

/*Estilos del main de contacto*/

.container-contacto{
    padding: 0;
    margin: 40px 0;
}

.contacto{
    display: flex;
    padding: 0 50px 0 50px;
    flex-direction: column;
}

.contacto div{
    display: flex;
    margin: 8px 20px;
    gap: 10px;
    align-items:center;
}

.contacto h1{
    color: #B42F29;
}

.contacto p{
    margin-bottom: 0;
    
}

.contacto svg{
    width: 30px;
    height: 30px;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    padding: 0 50px 0px 50px;
    gap:30px;
}


.formulario-contacto div label{
    font-size: 16px;
    
}

.formulario-contacto div input{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 95%;
    border-radius:15px;

}

.formulario-contacto div .input-mensaje{
    display: block;
    border-radius:15px;
    margin: 10px 0;
    width: 95%;
    padding: 10px;
    height: 300px;
}


/*Medias queries para la seccion contacto*/

@media (max-width: 768px){

    .container-contacto{
        margin: 10px 0;
    }

    .contacto{
        margin-bottom: 10px;
    }

    .titulo-contacto {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .formulario-contacto{
        margin-top: 10px;
    }

    .formulario-contacto div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario-contacto div label{
        padding-left: 15px;
        align-self: flex-start;
    }

}

/*Estilos del footer*/

footer {
    display: flex;
    flex-direction: column;
    background-color:#B42F29;
}

footer p{
    color: #ffffff;
    font-size: 16px;
}

footer h4{
    color: #ffffff;
    padding: 15px 0;
}

.medios-container{
    margin: 30px 0 15px 0;
    padding: 0;
}

.medios-container div{
    display: flex;
    align-items: center;
}

.medios-container h4{
    margin:0;
    padding: 0 45px;
}

.img-container{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 45px;
    padding-top: 30px;
}

.img-container img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.info-container{
    padding: 0;
}

.info-container p{
    display: flex;
    padding-left: 5px;
    align-items: center;
    margin-bottom: 0;
    height: 40px;
}


.contacto-container{
    padding: 0;
    margin: 15px 0;
}

.contacto-container div{
    display: flex;
    margin: 0;
    padding: 0 45px;
    gap: 10px;
    align-items: center;
}

.contacto-container svg{
    width: 30px;
    height: 30px;
    
}

.redes-container{
    padding: 0;
    margin: 15px 0;
}

.redes-container div{
    display: flex;
    margin: 0;
    padding: 0 45px;
    gap: 10px;
    align-items: center;
    
}

.redes-container svg{
    width: 30px;
    height: 30px;
}

.copy-container{
    display: flex;
    margin: 15px 0 30px 0;
    align-items: center;
    justify-content: center;   
}

.copy-container p{
    text-align: center;
    margin-bottom: 0;
}

