*{
    padding: 0;    
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Evita barras de desplazamiento */
  }

/*Estilos de header*/

/*Estilos del indice contenedor*/

.cabeza{
    background-color: #B42F29;
}

.cabeza__indice{
    padding: 30px 0;
    border-bottom: 1px solid #b7b7b7;
  }

/*Estilos del formulario */

.cabeza__indice__form{
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: start;
}

.cabeza__indice__form input{
    width: 80%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    background-color: #B42F29;
    
}

.cabeza__indice__form input::placeholder{
    color:#cfcece;
    font-size: 14px;
    padding-left: 10px;
    
}

/*Estilos del logo */

.cabeza__indice__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.cabeza__indice__logo__cont{
    width: 200px;
    height: 55px;
}

/*Estilos de los svg*/

.cabeza__indice__svg{
    display: flex;
    justify-content: end;
    align-items: center;    
    gap: 10px;
    padding-left: 0;
    padding-right: 30px;
}

.cabeza__indice__svg button {
    background: none;
    border: none;
    cursor: pointer;
}
  
.cabeza__indice__svg svg {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    fill: #ffffff; /* Color del icono */
}
  
/* Estilo del nav */

.cabeza__nav {
    width: 100%;
    padding: 20px 0;
}

.cabeza__nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}
  
.cabeza__nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
  
.cabeza__nav ul li a:hover {
    color: #000000;
}

/*Fin de los estilos del indice*/

/*Estilos del main*/

/*Estilos del carrusel de fotos y videos*/

.index__carrusel{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.index__carrusel img{
    width: 100%;
    height: 800px;

}

/*Estilos del sector presentacion de la empresa*/

.index__presentacion{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.index__presentacion h1{
    font-size: 48px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B42F29;
}

.index__presentacion__texto{
    text-align: center;
    padding: 0;
}

.index__presentacion__texto p{
    display: block;
    padding: 0 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

/*Estilos de las posibilidades de pago y mas*/

.index__posibilidades{
    display: flex;
    align-items: center;
    height: 128px;
    max-width: 1600px;
    padding: 30px 40px;
}

.index__posibilidades div{
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.index__posibilidades div div{
    width: 100%;
    display: flex;
    height: 120px;
    margin: 0;
    padding-left: 10px;
    padding-right: 0;
    flex-direction: column;
    justify-content: center;
}

.index__posibilidades svg{
    width: 30%;
    height: 120px;
}

.index__posibilidades div h4{
    font-size: 18px;
    margin: 0;
    color: #B42F29;
}

.index__posibilidades div p{
    margin: 0;
    font-size: 16px;
}

/*Estilos del sector arrivos*/

.index__arrivos{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.index__arrivos h2{
    display: flex;
    margin: 20px 0;
    padding-bottom: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #B42F29;
}

.index__arrivos__img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.index__arrivos__img div{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
}

.index__arrivos__img img{
    width: 210px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.index__arrivos__img p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

/*Estilos del sector novedades*/

.index__novedades{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.index__novedades div{
    width: 100%;
}

.index__novedades__info h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B42F29;
    text-align: center;
    margin: 20px 0;
}

.index__novedades__info p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index__novedades__form{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    
}

.index__novedades__form input{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    
}

/*Estilos de productos de la parte main*/

/*Estilos generales del main de productos*/

.main-productos{
    display: flex;
    padding: 0 50px;
    justify-content: center;
}

/*Estilos del nav de productos*/

.main-productos__nav{
    display: flex;
    padding: 60px 0px 60px 90px; 
    flex-direction: column;
    gap: 15px;
}

.main-productos__nav h2{
    color: #B42F29;
    margin: 0;
    font-size: 24px;
}

.main-productos__nav h3{
    color: #B42F29;
    margin: 0;
    font-size: 20px;
}

.main-productos__nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    /* margin-bottom: 0; */
    gap:15px;
    
}

.main-productos__nav ul li{
    width: 100%;
    font-size: 16px;
}

.main-productos__nav form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.main-productos__nav div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-productos__nav form label{
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 10%;
}

.main-productos__nav form label input{
    display: flex;
    width: 18px;
    height: 18px;
    
}

/*Estilos de las imagenes de productos*/

.main-productos__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 1200px;
}

.main-productos__img div{
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.main-productos__img div div div{
    padding: 20px ;
}

.main-productos__img img{
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.main-productos__img div p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0;
}

/*Estilos del main de contacto*/

/*Estilos generales del main de contacto*/

.main-contacto{
    padding: 0;
    margin: 40px 0;
}

/*Estilos de la seccion contacto*/

.main-contacto__contact{
    display: flex;
    padding: 0 50px 0 50px;
    flex-direction: column;
}

.main-contacto__contact div{
    display: flex;
    margin: 8px 20px;
    gap: 10px;
    align-items:center;
}

.main-contacto__contact h1{
    color: #B42F29;
}

.main-contacto__contact p{
    margin-bottom: 0;
    
}

.main-contacto__contact svg{
    width: 30px;
    height: 30px;
}

/*Estilo del formulario de contacto*/

.main-contacto__form{
    display: flex;
    flex-direction: column;
    padding: 0 50px 0px 50px;
    gap:30px;
}


.main-contacto__form div label{
    font-size: 16px;
    
}

.main-contacto__form div input{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 95%;
    border-radius:15px;

}

.main-contacto__form div .input-mensaje{
    display: block;
    border-radius:15px;
    margin: 10px 0;
    width: 95%;
    padding: 10px;
    height: 300px;
}

/*Estilos del footer*/

/*Estilos generales del footer*/

.pie {
    display: flex;
    flex-direction: column;
    background-color:#B42F29;
}

.pie p{
    color: #ffffff;
    font-size: 16px;
}

.pie h4{
    color: #ffffff;
    padding: 15px 0;
}

/*Estilos de los medios de comunicacion*/

.pie__medios{
    margin: 30px 0 15px 0;
    padding: 0;
}

.pie__medios div{
    display: flex;
    align-items: center;
}

.pie__medios h4{
    margin:0;
    padding: 0 45px;
}

.pie__medios__img{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 45px;
    padding-top: 30px;
}

.pie__medios__img img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/*Estilos de la informacion de contacto*/

.pie__info{
    padding: 0;
}

.pie__info p{
    display: flex;
    padding-left: 5px;
    align-items: center;
    margin-bottom: 0;
    height: 40px;
}

.pie__info__contacto{
    padding: 0;
    margin: 15px 0;
}

.pie__info__contacto div{
    display: flex;
    margin: 0;
    padding: 0 45px;
    gap: 10px;
    align-items: center;
}

.pie__info__contacto svg{
    width: 30px;
    height: 30px;
    
}

/*Estilos de las redes sociales*/

.pie__redes{
    padding: 0;
    margin: 15px 0;
}

.pie__redes div{
    display: flex;
    margin: 0;
    padding: 0 45px;
    gap: 10px;
    align-items: center;
    
}

.pie__redes svg{
    width: 30px;
    height: 30px;
}

/*Estlos del copy*/

.pie__copy{
    display: flex;
    margin: 15px 0 30px 0;
    align-items: center;
    justify-content: center;   
}

.pie__copy p{
    text-align: center;
    margin-bottom: 0;
}

/*Media querys del header*/

@media (max-width: 768px) {

    .cabeza__indice__logo{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .cabeza__indice__form{
        display: none;
    }

    .cabeza__indice__svg{
        display: none;
    }
}

/*Medias querys del sector main del index*/

@media (min-width: 576px) and (max-width: 992px) {
    
    .index__posibilidades div div{
        width: 100%;
        display: flex;
        height: 64px;
        margin: 0;
        padding-left: 10px;
        padding-right: 0;
        flex-direction: column;
        justify-content: center;
    }

    .index__posibilidades svg{
        width: 30%;
        height: 64px;
    }
    
    .index__posibilidades div h4{
        font-size: 16px;
        margin: 0;
    }
    
    .index__posibilidades div p{
        margin: 0;
        font-size: 12px;
    }

    .index__arrivos__img div{
        max-width: 340px;
    }
    
   
}

@media (max-width: 768px){
    .index__presentacion h1{
        font-size: 32px;
        text-align: center;
    }

    .index__posibilidades{
        display: flex;
        align-items: center;
    }

    .index__posibilidades div{
        display: flex;
        align-content: center;
        padding: 0;
    }
}

@media (max-width:576px){

    .index__presentacion{
        margin-bottom: 200px;
    }

    .index__posibilidades{
        display: flex;
        justify-content: center;
    }

    .index__posibilidades div{
        max-width: 300px;
        padding: 5px 0;
    }

    .index__posibilidades div div{
        width: 100%;
        display: flex;
        height: 48px;
        margin: 0;
        padding-left: 10px;
        padding-right: 0;
        flex-direction: column;
        justify-content: center;
    }

    .index__posibilidades svg{
        width: 30%;
        height: 64px;
    }
    
    .index__posibilidades div h4{
        font-size: 16px;
        margin: 0;
    }
    
    .index__posibilidades div p{
        margin: 0;
        font-size: 12px;
        max-width: 200px;
    }
}

/*Medias querys para el main de productos*/

@media (max-width: 992px) {
    .main-productos__nav{
        display: none;
    }
    
    .main-productos__img{
        width: 100%;
    }
}

/*Medias queries para la seccion contacto*/

@media (max-width: 768px){

    .main-contacto{
        margin: 10px 0;
    }

    .main-contacto__contact{
        margin-bottom: 10px;
    }

    .titulo-contacto {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-contacto__form{
        margin-top: 10px;
    }

    .main-contacto__form div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-contacto__form div label{
        padding-left: 15px;
        align-self: flex-start;
    }

}