//map-get para los colores utilizados en la pagina 

$colores:(
    rojo: #B42f29,
    blanco: #ffffff,
    negro: #000000,
    gris: #b7b7b7
);

//map-get para las fuentes de los parrafos

$fuentes:(
    sm: 14px,
    md: 16px,
    lg: 18px
)


