@use '../config/map-get' as *;
@use '../config/variables' as *;
@use '../config/mixin' as *;
@use '../layout/main-inicio' as *;

// Media Querys para la seccion de inicio

@media (min-width:576px) and (max-width: 992px){
    .index{
        &__carrusel img{
            height: 500px;
        }
        &__posibilidades{
            div{
                div{
                    @include flex-jc-center();
                    flex-direction: column;
                    width: 100%;
                    height: 64px;
                    margin: 0;
                    padding-left: 10px;
                    padding-right: 0;
                }
                h4{
                    font-size: map-get($fuentes, md );
                    margin: 0;
                }
                p{
                    margin:0;
                    font-size: 12px;
                }
            }

            svg{
                width: 30%;
                height: 55px;
            }
        }
        &__arrivos{
            &__img{
                div{
                    max-width: 340px;
                }
            }
        }
    }
}

@media (max-width:1330px){
    .index{
        &__arrivos{
            &__carrusel{
                min-width: 990px;
                &__slides{
                    height: 550px;
                    &__slide{
                        flex: 0 0 calc((100% - 11.6%)/3);
                        &__cuotas{
                            font-size: 16px;
                        }
                    }
                }

                #pos1:checked ~ .index__arrivos__carrusel__slides{
                    transform: translateX(0);
                }
        
                #pos2:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-33.33%);
                }
        
                #pos3:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-66.66%);
                }

                #pos4:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-100%);
                }
    
                #pos5:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-133.33%);
                }
    
                #pos6:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-166.66%);
                }
    
                #pos7:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-200%);
                }

            }
        }
    }
}

@media (max-width:992px){
    .index{
        &__arrivos{
            &__carrusel{
                min-width: 765px;
                &__slides{
                    height: 640px;
                    &__slide{
                        flex: 0 0 calc((100% - 7.6%)/2);
                    }
                }

                #pos1:checked ~ .index__arrivos__carrusel__slides{
                    transform: translateX(0);
                }
        
                #pos2:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-50%);
                }
        
                #pos3:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-100%);
                }

                #pos4:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-150%);
                }
    
                #pos5:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-200%);
                }
    
                #pos6:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-250%);
                }
    
                #pos7:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-300%);
                }

            }
        }
    }
}

@media (max-width:768px){
    .index{
        &__posibilidades{
            @include flex-ai-center ();
            div{
                display: flex;
                align-content: center;
                padding: 0;
            }
        }

        &__gif{
            padding: 0 20px;
            &__video{
                padding: 10px 0;
                video{
                    border-radius: 30px;
                }
            }
        }

        &__presentacion{
            h1{
                font-size: 32px;
                text-align: center;
            }
        }

        &__arrivos{
            &__carrusel{
                min-width: 570px;
                &__slides{
                    height: 960px;
                    &__slide{
                        flex: 0 0 calc((100% - 3.5%)/1);
                    }
                }

                &__prev{
                    left: 3%;
                }
        
                &__next{
                    right: 5%;
                }

                #pos1:checked ~ .index__arrivos__carrusel__slides{
                    transform: translateX(0);
                }
        
                #pos2:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-100%);
                }
        
                #pos3:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-200%);
                }

                #pos4:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-300%);
                }
    
                #pos5:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-400%);
                }
    
                #pos6:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-500%);
                }
    
                #pos7:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-600%);
                }

            }
        }
    }
}

@media (max-width:576px){
    .index{
        &__carrusel img{
            height: 400px;
        }

        &__posibilidades{
            @include flex-jc-center();
            div{
                max-width: 300px;
                padding: 5px 0;
                div{
                    @include flex-jc-center();
                    flex-direction: column;
                    width: 100%;
                    height: 48px;
                    margin: 0;
                    padding-left: 10px;
                    padding-right: 0;
                }
                h4{
                    font-size: map-get($fuentes, md );
                    margin: 0;
                }
                p{
                    margin: 0;
                    max-width: 200px;
                    font-size: 12px;
                }
            }
            svg{
                width:30%;
                height: 55px;
            }
        }

        &__arrivos{
            &__carrusel{
                min-width: 400px;
                &__slides{
                    height: 710px;
                    &__slide{
                        flex: 0 0 calc((100% - 3.5%)/1);
                    }
                }

                #pos1:checked ~ .index__arrivos__carrusel__slides{
                    transform: translateX(0);
                }
        
                #pos2:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-100%);
                }
        
                #pos3:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-200%);
                }

                #pos4:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-300%);
                }
    
                #pos5:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-400%);
                }
    
                #pos6:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-500%);
                }
    
                #pos7:checked ~ .index__arrivos__carrusel__slides {
                    transform: translateX(-600%);
                }

            }
        }
    }
}