@use '../config/map-get' as *;
@use '../config/variables' as *;
@use '../config/mixin' as *;
@use '../layout/main.productos' as *;


@media (max-width:1400px){
    .main-productos{
        &__contenedor{
            max-width: 1180px;   
            &__img{
                &__indv{
                    height: 440px;
                }
            }
        }
        
    }
}

@media (max-width:1198px){
    .main-productos{
        &__contenedor{
            max-width: 950px;  
            &__nav{
                padding-left: 30px;
            }

            &__img{
                &__indv{
                    height: 460px;
                }

                &__boton{
                    padding: 2%;
                }
            } 
        }
        
    }
}

@media (max-width:992px){
    .main-productos{
        &__titulo{
            display: flex;
        }

        &__contenedor{
            max-width: 750px;
            &__nav{
                display: none;
            }

            &__img{
                &__indv{
                    height:540px;
                }
            } 
              
        }
        
    }
}


@media (max-width:768px){
    .main-productos{
        &__contenedor{
            max-width: 560px;
            &__nav{
                display: none;
            }

            &__img{
                &__indv{
                    height:490px;
                }
            } 
              
        }
        
    }
}

@media (max-width:576px){
    .main-productos{
        &__contenedor{
            max-width: 350px;
            &__nav{
                display: none;
            }

            &__img{
                &__indv{
                    height:600px;
                }

                &__boton{
                    padding: 4%;
                    width: 70%;
                }
            } 
              
        }
        
    }
}