@use '../config/map-get' as *;
@use '../config/variables' as *;
@use '../config/mixin' as *;

//configuracion del header para todas las secciones

.cabeza{
    background-color: map-get($colores , rojo);

    //Estilos generales del indice
    
    &__indice{
        padding: $lg 0;
        border-bottom: 1px solid map-get($colores , gris);

        //Estilos del formulario y sus herencias

        &__form{
            @include flex-ai-center();
            justify-content: start;
            padding: $md $lg;
            input{
                width: 80%;
                padding: $xsm;
                border-radius: 15px;
                border: 1px solid map-get($colores , blanco );
                background-color: map-get($colores , rojo );
                &::placeholder{
                    color: map-get($colores , crema );
                    font-size: map-get($fuentes , sm );
                    padding-left: 10px;
                }
            }
        }

        //Estilos del logo y sus herencias

        &__logo{
            @include flex-ai-jc-center();
            padding: 0;
            &__cont{
                @include widht-height(200px, 55px);
            }
        }

        //Estilos de los svg y sus herencias

        &__svg{
            @include flex-ai-center();
            justify-content: end;
            gap:10px;
            padding-left: 0;
            padding-right: 30px;
            button{
                background: none;
                border: none;
                cursor: pointer;
            }

            svg{
                @include widht-height($lg,$lg);
                margin: 0 $xsm;
                fill: map-get($colores , blanco );
            }
        }
    }

    //Estilos del nav y sus herencias

    &__nav{
        width: 100%;
        padding: $md 0;
        ul{
            list-style-type: none;
            @include flex-ai-jc-center();
            gap: 40px;
            @include margin-padding-general(0);
            li{
                a{
                    color: map-get($colores , blanco );
                    font-size: map-get($fuentes , md );
                    text-decoration: none;
                    &:hover{
                        color: map-get($colores , negro );
                    }
                }
            }
        }
    }

}
