@use '../config/map-get' as *;
@use '../config/variables' as *;
@use '../config/mixin' as *;

//Estilos para el main de la página de inicio

.index{
    &__carrusel{
        @include flex-ai-jc-center();
        width: 100%;
        padding: 0;
        img{
            width: 100%;
            height: 800px;
        }

        div{
            div{
                padding: 0;
            }
        }
    }

    //Estilos del sector presentacion de la empresa

    &__presentacion{
        @include flex-ai-jc-center();
        flex-direction: column;
        padding: 0;
        margin: 20px 0;
        h1{
            @include flex-ai-jc-center();
            font-size: 48px;
            margin: 20px 0;
            color: map-get($colores , rojo );
        }

        &__texto{
            text-align: center;
            padding: 0;
            p{
                display: block;
                padding: 0 50px;
                margin: 20px auto;
                max-width: 1200px;
            }
        }
    }

    //Estilos de las posibilidades de pago y mas

    &__posibilidades{
        @include flex-ai-jc-center();
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: map-get($colores, rojo-claro);
        div{
            @include flex-jc-center ();
            align-items: center;
            padding: 0 20px;
            max-width: 380px;
            div{
                @include flex-jc-center ();
                width: 100%;
                height: 120px;
                margin: 0;
                padding-left: 10px;
                padding-right: 0;
                flex-direction: column;
            }

            h4{
                font-size: map-get($fuentes, lg );
                margin: 0;
                align-self: self-start;
            }

            p{
                margin: 0;
                font-size: map-get($fuentes, md );
                align-self: self-start;
            }
        }
        svg{
            width: 30%;
            height: 80px;
        }
    }

    //Estilos del gif de descuentos

    &__gif{
        padding: 20px;
        &__video{
            @include flex-ai-jc-center();
            video{
                padding: 0;
                @include widht-height(100%,100%);
                border-radius: 50px;
            }
        }
    }

    //Estilos del sector arrivos

    &__arrivos{
        @include flex-jc-center();
        flex-direction: row;
        width: 100%;
        h2{
            @include flex-ai-jc-center();
            flex-direction: column;
            width: 100%;
            color: map-get($colores, rojo );
            padding-bottom: 30px;
            margin: 20px 0;
        }

        &__img{
            @include flex-ai-jc-center  ();
            div{
                @include flex-ai-jc-center();
                flex-direction: column;
                padding: 0;
                max-width: 250px;
            }
            img{
                width: 210px;
                border-top-left-radius: 5%;
                border-top-right-radius: 5%;
            }
            p{
                @include flex-ai-jc-center();
                font-size: 20px;
            }
        }
    }

    //Estilos del sector novedades

    &__novedades{
        @include flex-ai-jc-center();
        flex-direction: column;
        width: 100%;
        div{
            width: 100%;
        }
        &__info{
            h2{
                @include flex-ai-jc-center();
                text-align: center;
                color: map-get($colores, rojo);
                margin: 20px 0;
            }
            p{
                @include flex-ai-jc-center();
                text-align: center;
            }
        }
        &__form{
            @include flex-ai-jc-center();
            padding: 20px 0;
            input{
                width: 30%;
                padding: 10px ;
                border-radius: 10px;
                border: 1px solid;
            }
        }
    }


}