@use '../config/map-get' as *;
@use '../config/variables' as *;
@use '../config/mixin' as *;

//Estilos para el main de la página de inicio

.index{
    &__carrusel{
        @include flex-ai-jc-center();
        width: 100%;
        padding: 0;
        img{
            width: 100%;
            height: 800px;
        }

        div{
            div{
                padding: 0;
            }
        }
    }

    //Estilos del sector presentacion de la empresa

    &__presentacion{
        @include flex-ai-jc-center();
        flex-direction: column;
        padding: 0;
        margin: 20px 0;
        h1{
            @include flex-ai-jc-center();
            font-size: 48px;
            margin: 20px 0;
            color: map-get($colores , rojo );
        }

        &__texto{
            text-align: center;
            padding: 0;
            p{
                display: block;
                padding: 0 50px;
                margin: 20px auto;
                max-width: 1200px;
            }
        }
    }

    //Estilos de las posibilidades de pago y mas

    &__posibilidades{
        @include flex-ai-jc-center();
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding: 30px 40px;
        background-color: map-get($colores, rojo-claro);
        div{
            @include flex-jc-center ();
            align-items: center;
            padding: 0 20px;
            max-width: 380px;
            div{
                @include flex-jc-center ();
                width: 100%;
                height: 120px;
                margin: 0;
                padding-left: 10px;
                padding-right: 0;
                flex-direction: column;
            }

            h4{
                font-size: map-get($fuentes, lg );
                margin: 0;
                align-self: self-start;
            }

            p{
                margin: 0;
                font-size: map-get($fuentes, md );
                align-self: self-start;
            }
        }
        svg{
            width: 30%;
            height: 80px;
        }
    }

    //Estilos del gif de descuentos

    &__gif{
        padding: 20px;
        &__video{
            @include flex-ai-jc-center();
            video{
                padding: 0;
                @include widht-height(100%,100%);
                border-radius: 50px;
            }
        }
    }

    //Estilos del sector arrivos

    &__arrivos{
        
        &__carrusel{
            @include flex-ai-jc-center();
            flex-direction: column;
            overflow: hidden;
            position: relative;
            margin:  0 auto ;
            padding: 1% 0;
            min-width: 1320px;
            width: 70%;
            
            input{
                display: none;
            }

            &__slides{
                width: 100%;
                display: flex;
                text-align: center;
                gap: 4%;
                padding: 0;
                height: 530px;
                
                                
                p{
                    width: 100%;
                    overflow: visible;
                    margin: 0;
                    white-space: nowrap;
                }

                h5{
                    margin: 0;
                    padding: 5% 5% 0 5%;
                    font-weight: bold;
                    color: map-get($colores, rojo );
                }

                &__slide{
                    position: relative;
                    flex: 0 0 calc((100% - 15.5%)/4);
                    padding: 0;
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
                    transition: box-shadow 0.3s ease,height 0.3s ease;
                    border-radius: 30px;  
                    height: 87%;
                    
                    img{
                        width: 100%;                 
                        display: block;
                        border-top-left-radius: 30px;
                        border-top-right-radius: 30px;
                    }

                    &__descripcion{
                        padding: 2%;
                        font-size: 18px;
                    }

                    &__cuotas{
                        padding: 0 2%;
                        font-size: 14px;
                    }

                    &__botones{
                        
                        @include flex-ai-jc-center();
                        gap: 5%;
                        width: 100%;
                        padding: 5% 0;
                        bottom: 2%;
                        flex-direction: row;                        
                        transition: opacity 0.3s ease;
                        opacity: 0;
                        
                        button{
                            border-radius: 30px;
                            padding: 4%;
                            width: 40%;  
                        }

                        &__boton-1{
                            background-color: map-get($colores, rojo );
                            border: 0;
                            color: map-get($colores, blanco );
                        }

                        &__boton-2{
                            background-color: map-get($colores, blanco );
                            border: 1px solid map-get($colores, rojo );
                            color: map-get($colores, rojo );
                        }
                    }

                    &:hover{
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);        
                        height: 100%;
                        .index__arrivos__carrusel__slides__slide__botones{
                            opacity: 1;
                        }
                    }
                    

                }
            }
    
            &__nav-btn{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                background: rgba(0,0,0,0.5);
                color: #fff;
                font-weight: bold;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
                z-index: 2;
                border-radius: 50%;
                user-select: none;
                &:hover{
                    background: rgba(0,0,0,0.8);
                }
            }
    
            &__prev{
                left: 1%;
            }
    
            &__next{
                right: 4%;
            }
    
            &__control-1, &__control-2, &__control-3, &__control-4, &__control-5, &__control-6, &__control-7{
                display: none;
            }
    
            #pos1:checked ~ .index__arrivos__carrusel__slides{
                transform: translateX(0);
            }
    
            #pos2:checked ~ .index__arrivos__carrusel__slides {
                transform: translateX(-25%);
            }
    
            #pos3:checked ~ .index__arrivos__carrusel__slides {
                transform: translateX(-50%);
            }

            #pos4:checked ~ .index__arrivos__carrusel__slides {
                transform: translateX(-75%);
            }

            #pos5:checked ~ .index__arrivos__carrusel__slides {
                transform: translateX(-100%);
            }

            #pos6:checked ~ .index__arrivos__carrusel__slides {
                transform: translateX(-125%);
            }

            #pos7:checked ~ .index__arrivos__carrusel__slides {
                transform: translateX(-150%);
            }
    
            #pos1:checked ~ .index__arrivos__carrusel__control-1{
                display: block
            }
    
            #pos2:checked ~ .index__arrivos__carrusel__control-2{
                display: block
            }
    
            #pos3:checked ~ .index__arrivos__carrusel__control-3{
                display: block
            }

            #pos4:checked ~ .index__arrivos__carrusel__control-4{
                display: block
            }

            #pos5:checked ~ .index__arrivos__carrusel__control-5{
                display: block
            }

            #pos6:checked ~ .index__arrivos__carrusel__control-6{
                display: block
            }

            #pos7:checked ~ .index__arrivos__carrusel__control-7{
                display: block
            }
        }
        
        h2{
            @include flex-ai-jc-center();
            width: 100%;
            color: map-get($colores, rojo );
            padding-bottom: 30px;
            margin: 20px 0;
        }
        
    }

    //Estilos del sector novedades

    &__novedades{
        @include flex-ai-jc-center();
        flex-direction: column;
        width: 100%;
        margin-bottom: 3%;
        div{
            width: 100%;
        }
        &__info{
            h2{
                @include flex-ai-jc-center();
                text-align: center;
                color: map-get($colores, rojo);
                margin: 20px 0;
            }
            p{
                @include flex-ai-jc-center();
                text-align: center;
            }
        }
        &__form{
            @include flex-ai-jc-center();
            padding: 20px 0;
            input{
                width: 30%;
                padding: 10px ;
                border-radius: 10px;
                border: 1px solid;
            }
        }
    }


}